html.page-team {
    font-size:20px !important;
    font-family: Graphik;

    @media only screen and (min-width: 732px) {
        font-size:1.56vw !important;
    }

    @media only screen and (min-width: 1240px) {
        font-size:1.56vw !important;
    }
}

.bn {
    &-container {
        width: 100%;
        padding: 0 2.2rem;

        @media only screen and (max-width: 731px) {
            padding: 0 1rem;
        }
    }

    &-subtitle {
        color: #eb161e;
        font-weight: 600;
        font-family: Graphik;
        font-size: 0.8rem;
        line-height: 1.48;
        margin-bottom: 1rem;
    }

    &-title {
        font-size: 2.4rem;
        font-family: Graphik;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 1rem;

        @media only screen and (max-width: 731px) {
            font-size: 1.6rem;
        }
    }

    &-lead {
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 1.1rem;
        line-height: 1.4;

        letter-spacing: -0.03rem;

        @media only screen and (max-width: 731px) {
            font-size: 0.9rem;
        }
    }
}

