.team-rounded {
    margin-bottom: 4rem;
    font-family: Graphik;

    &__above-title {
        color: #eb161e;
        font-weight: 600;
        font-family: Graphik;
        font-size: 1.07rem;
    }

    .tabs-holder {
        padding-left: 2.2rem;

        @media only screen and (max-width: 731px) {
            padding-left: 1rem;
        }
    }

    .Link {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}