<section class="a-text-over-image" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="cbmd" style="overflow: hidden;"> 
<div data-scroll data-scroll-repeat data-scroll-speed="-2" id="start" class="background_CBMD" style="background-image: url(//cdn.shopify.com/s/files/1/0321/8472/9739/files/cbmd-clinic.png?v=1611070308);">
  <div class="flex-container_CBMD is-inview" data-scroll="" data-scroll-speed="3" data-scroll-call="dynamicColor" data-scroll-repeat="" style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.3859, 0, 1);">
  <h3>CBMD | Available wherever there’s care.</h3>
  <h1>Available wherever there’s care.</h1>
  <p>Conversations about CBD are happening everywhere, and people are increasingly turning to their healthcare providers for answers. CBMD® offers a physician-developed line of CBD products that you and your patients can trust.</p>
  <button data-action="open-modal" aria-controls="modal-general-newsletter">Talk with us</button>
  </div>
</div>
</section>