<section id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="cbmd">  
    <div class="t-image-holder">
        <div class="t-image-text justify-content-between align-items-center">
            <div class="t-image-holder-left">
                <img src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Image_22e68bce-edef-4e38-b6ec-c16e2cefc6c6.png?v=1627558117">
            </div>
            <div class="t-image-holder-right">
                <div class="red-prehead">CBMD formulations</div>
                <div class="first-tab-title heading1">More products coming soon</div>
                <div class="first-tab-text">
                    With the launch of our first physician formulated CBD product, PMT Pain Support Topical Cream, we look forward to releasing other specialized products in our RAW, PMT, PSY and DRM product lines - all developed to the same stringent CBMD standard 
                </div>
                {% comment %} <a class="process" href="#">Our process</a> {% endcomment %}
            </div>
        </div>
    </div>
</section>
