<section class="reviews">
    <div class="bn-container">
        <div class="reviews__intro">
            <h4 class="bn-subtitle">Hear from our doctors </h4>
            <h2 class="bn-title">What it’s like to partner with CBMD</h2>
        </div>
        <ul class="reviews__list">
            <li class="reviews__list-item">
                <div class="reviews__list-content">
                    <p>When patients ask me about CBD, I tell them the truth. That some of it is probably unsafe and some may be fine, but without appropriate clinical research my ability to provide responsible recommendations is impeded.</p>
                </div>
                <div class="reviews__user">
                    <img class="reviews__user-photo" src="{{ 'test.jpg' | asset_url }}" alt="">
                    <div class="reviews__user-info">
                        <strong class="reviews__user-name">Fady Elias, MD</strong>
                        <p>Orthopedic Surgery</p>
                    </div>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="reviews__list-content">
                    <p>When patients ask me about CBD, I tell them the truth. That some of it is probably unsafe and some may be fine, but without appropriate clinical research my ability to provide responsible recommendations is impeded.</p>
                </div>
                <div class="reviews__user">
                    <img class="reviews__user-photo" src="{{ 'test.jpg' | asset_url }}" alt="">
                    <div class="reviews__user-info">
                        <strong class="reviews__user-name">Fady Elias, MD</strong>
                        <p>Orthopedic Surgery</p>
                    </div>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="reviews__list-content">
                    <p>When patients ask me about CBD, I tell them the truth. That some of it is probably unsafe and some may be fine, but without appropriate clinical research my ability to provide responsible recommendations is impeded.</p>
                </div>
                <div class="reviews__user">
                    <img class="reviews__user-photo" src="{{ 'test.jpg' | asset_url }}" alt="">
                    <div class="reviews__user-info">
                        <strong class="reviews__user-name">Fady Elias, MD</strong>
                        <p>Orthopedic Surgery</p>
                    </div>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="reviews__list-content">
                    <p>When patients ask me about CBD, I tell them the truth. That some of it is probably unsafe and some may be fine, but without appropriate clinical research my ability to provide responsible recommendations is impeded.</p>
                </div>
                <div class="reviews__user">
                    <img class="reviews__user-photo" src="{{ 'test.jpg' | asset_url }}" alt="">
                    <div class="reviews__user-info">
                        <strong class="reviews__user-name">Fady Elias, MD</strong>
                        <p>Orthopedic Surgery</p>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>