<section id="section-1586337176858" data-section-id="1586337176858" data-section-type="cbmd">
    <div class="hi-image row Highlights_image_container align-self-center right-version">
      <div class="hi-image-left col-lg">
        <div class="proportion-div position-relative" style="padding-bottom:100%;">
        <div class="position-absolute w-100 h-100 t-0 l-0">
        <img data-scroll-repeat="true" data-scroll="" data-scroll-speed="-1" class="highlight_image is-inview" src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Image_9.png?v=1627635706"></div>
        </div>
        
      

      </div>

      <div class="hi-image-right col-lg Highlights_item Highlights_second">
        <div class="Highlights_item_content">
          <p class="Highlights_heading box t-red" style="opacity: 1; transform: translate(0px, -40px);">Colleague to colleague</p>
          <p class="box h1-t" style="opacity: 1; transform: translate(0px, -40px);">We understand<br> the concerns around CBD</p>
          <p class="p-t mw-85 box ml-wide" style="opacity: 1; transform: translate(0px, -40px);">In the absence of consistent protocols for ingredient sourcing and analysis, scientifically structured formulations, and quality manufacturing, healthcare professionals must either step outside typical medical and pharmaceutical conventions or disengage from the CBD conversation entirely. CBMD® offers another choice – our oversight ensures that no compromise is necessary.</p><p class="Highlights_action box" style="opacity: 1; transform: translate(0px, -40px);"><a href="/pages/our-science" class="Button Button--cbd Button--red">Our Process</a></p></div>
      </div>
    </div>
      
</section>

<style>
.new-home .right-version  .hi-image-left {
    padding-left: 5vw!important;
    border-top-right-radius: 32.3255vw;
    border-bottom-right-radius: 32.3255vw;
    overflow: hidden;
    order: 2;
    padding-right: 0 !important;
}
.new-home .right-version .hi-image-right {
    padding-top: 40px;
    padding-left: 5vw;
}
</style>