<section id="section-{{ section.id }}" class="team-rounded" data-section-id="{{ section.id }}" data-section-type="cbmd">  
    <div class="tabs-holder">
        <div class="tab first-tab justify-content-between align-items-start box">
            <div class="first-tab-left">
                <div class="first-tab-title heading1">We understand the concerns around CBD.</div>
                <img alt="A dose of white CBMD PMT Pain Support CBD topical cream formulated to support pain and inflammation, including back pain." class="mobile-only-image" src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Group_559_2.png?v=1619682747">
                <div class="first-tab-text">
                    There is no consistent standard in testing, no ability to review the individual protocols, no evidence used in manufacturing CBD.. The current state of the industry is not serving the physicians. We have no ability to peer behind the curtain. In an effort to reshape the industry, we are coming at it with an evidence based approach to CBD. We provide medical grade formulations, transparent protocols, rigorous product testing, oversight, stringent ingredient sourcing and efficacious products to our patients.  
                </div>
                <a href="#" class="Link Link--cbd box db">Our process</a>
            </div>
            <div class="first-tab-right">
                <img src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Group_559_2.png?v=1619682747">
            </div>
        </div>    
    </div>
</section>
