<section class="three-cols"> 
    <div class="bn-container">
        <div class="three-cols__intro">
            <h4 class="bn-subtitle">Ways to get involved</h4>
            <h2 class="bn-title">Work with CBMD. Serve your patients.</h2>
        </div>
        <ul class="three-cols__list">
            <li class="three-cols__list-item">
                <img class="three-cols__img" src="{{ 'test.jpg' | asset_img_url: 'master' }}" alt="TEST">
                <div class="three-cols__item-content">

                    <div class="three-cols__title">Get to <br> know us</div>
                    <span class="three-cols__number">01</span>
                    <div>
                        If you’re a practitioner interested in learning more about our brand and our approach to CBD, we’d like to hear from you.
                    </div>
                    <a href="#" class="Button Button--cbd Button--black three-cols__button">Talk with us</a>
                </div>
            </li>
            <li class="three-cols__list-item">
                <img class="three-cols__img" src="{{ 'test.jpg' | asset_img_url: 'master' }}" alt="TEST">
                <div class="three-cols__item-content">
                    <div class="three-cols__title">Get to <br> know us</div>
                    <span class="three-cols__number">01</span>
                    <div>
                        If you’re a practitioner interested in learning more about our brand and our approach to CBD, we’d like to hear from you.
                    </div>
                    <a href="#" class="Button Button--cbd Button--black three-cols__button">Talk with us</a>
                </div>
            </li>
            <li class="three-cols__list-item">
                <img class="three-cols__img" src="{{ 'test.jpg' | asset_img_url: 'master' }}" alt="TEST">
                <div class="three-cols__item-content">

                    <div class="three-cols__title">Get to <br> know us</div>
                    <span class="three-cols__number">01</span>
                    <div>
                        If you’re a practitioner interested in learning more about our brand and our approach to CBD, we’d like to hear from you.
                    </div>
                    <a href="#" class="Button Button--cbd Button--black three-cols__button">Talk with us</a>
                </div>
            </li>
            
            


        </ul>
    </div>
</section> 