<section class="team-hero">
    <div class="team-hero__bg">
        <picture>
          <source media="(min-width:1240px)" srcset="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <source media="(min-width:732px)" srcset="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
          <img src="https://images.pexels.com/photos/1170979/pexels-photo-1170979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
        </picture>
    </div>
    <div class="team-hero__container">
        <div class="team-hero__content">
            <h1 class="team-hero__title">We are physicians.</h1>
            <div class="team-hero__text">
                <p>What began as a response to our patients’ frequent requests for information on CBD, evolved into a broader response to address the inadequcies of the industry at large and serve our colleagues with an option in CBD that they can trust and verify.</p>
            </div>
            <a href="#" class="Button Button--cbd Button--red">Connect with us</a>
        </div>
    </div>
</section>