<section class="rounded-left">
    <div class="rounded-left__container">
        <img data-scroll-repeat="true" data-scroll="" data-scroll-speed="-1" class="highlight_image is-inview" src="//cdn.shopify.com/s/files/1/0321/8472/9739/files/Image_2048x.jpg?v=1612263749" srcset="//cdn.shopify.com/s/files/1/0321/8472/9739/files/Image_2048x.jpg?v=1612263749 1x, //cdn.shopify.com/s/files/1/0321/8472/9739/files/Image_2048x@2x.jpg?v=1612263749 2x" alt="CBMD" >
        <div class="rounded-left__content">
            <h4 class="bn-subtitle">Want to hear more?</h4>
            <h2 class="bn-title">Our brand promise to clinicians</h2>
            <div>
                <p>Healthcare providers are in a unique position to support patients and facilitate smart decisions around the safety of the products they use.</p>
            </div>
            <a href="#" class="Button Button--cbd Button--black three-cols__button">Talk with us</a>
        </div>
    </div>
</section>