<section data-section-id="{{ section.id }}" data-section-type="cbmd"> 
<div class="" style="background: #fcfcfc;">
    <div class="container_PMT Highlights_container-new" >
        <div class="flex-container_PMT">
        <h1 class="box">PMT</h1>
        <h2 class="box">Pain Support </br>CBD Topical Cream</h2>
        <p class="box"><span style="color:#EB161E;">Formulated for</span> Pain, Muscle Soreness,<br> Joint Stiffness, Backaches, Discomfort</p>
        <button class="box"><a href="/products/cbd-topical-cream">More Details</a></button>
        </div>
    
        <img class="img_available collection-available" src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/cbmd-now-available-skew.svg?v=1614703721">
        
        <div class="flex-container_PMT2" data-scroll data-scroll-direction="vertical" data-scroll-speed="1" data-scroll-class="appear" data-scroll-repeat="true">
        <img class="img_PMT" src="https://cdn.shopify.com/s/files/1/0321/8472/9739/files/Screen_Shot_2021-01-26_at_13.23.22.png?v=1611663816">
        </div>
    </div>
</div>
</section>
{% schema %}
{
  "name": "Highlighted Product",
  "settings": [
    {
      "type": "text",
      "id": "hp_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "hp_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "textarea",
      "id": "hp_text",
      "label": "Text"
    },
    {
      "type": "product",
      "id": "hp_link",
      "label": "Product Link"
    },
    {
      "type": "image_picker",
      "id": "hp_image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "category": "CBMD",
      "name": "Highlighted product",
      "settings": {}
    }
  ]
}
{% endschema %}