.html.page- {
    font-size: 20px !important;
    font-family: Graphik;
  }
  
  @media only screen and (min-width: 732px) {
    html.page- {
      font-size: 1.56vw !important;
    }
  }
  
  @media only screen and (min-width: 1240px) {
    html.page- {
      font-size: 1.56vw !important;
    }
  }











:root {
    --header-height: 80px;
    --screen-height: 792px;
    }
 
   

    /* Banner section */
 .shopify-section--banner {
    overflow: hidden;
}


.shopify-section--banner {
    margin-top: calc(-1 * var(--header-height));
    max-height: calc(100vh);
}

@media (min-width: 1280px) {
    .shopify-section--banner {
         height: calc(100vh);
    }
}

@media (min-width: 732px) and (max-width: 1279px) {
.shopify-section--banner {
    height: calc(var(--screen-height)/ 1.14 + 0px);
    /* max-height: calc(100vh - 80px); */
    margin-top: 0;
}
}

@media (max-width: 731px) {
.shopify-section--banner {
    margin-top: 0;
    max-height: unset;
    height: auto;
  }
}

#section-banner-ourscience {
    position: relative;
    background: linear-gradient(
    90deg,#eee 0,#dbdbdb 100%);
    display: flex;
    margin: 0;
    height: 100%;
}

@media (max-width: 731px) {
    #section-banner-ourscience {
        height: 680px !important;
        overflow: hidden;
    }
}

.full_foreground {
    max-width: 100%;
}

.banner_background {
    flex: 1;
    display: flex;
    position: relative;
}

.banner_background {
    flex: 1;
    display: flex;
    position: relative;
}


.banner_backgroundImageWrapper {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 731px) {
    .banner_backgroundImageWrapper {
        position: relative;
        align-items: flex-start;
        overflow: hidden;
        height: unset !important;
   }
   }

.banner_backgroundImage {
    width: 100% !important;
    height: 100%;
    display: block;
    width: auto;
    object-fit: cover;
    object-position: center; 
}

@media only screen and (max-width: 732px) {
    .banner_backgroundImage {
      height: 100%!important;
      object-position: right; 
      /* margin-right: unset!important; */
      margin-top: unset!important; 
      
    }
}


@media (min-width: 1280px) and (max-width: 1600px) {
  .banner_backgroundImage {
    margin-top: 10%;
  }
}


.banner_contentWrapper {
    padding-left: 4rem;
    display: flex;
    height: 100%;
    padding: 0 0 0 64px; 
    position: relative;
    align-items: center;
}

@media only screen and (max-width: 731px) {
    .banner_contentWrapper {
        width: 375px !important;
        background: #fff;
        height: auto;
        padding: 24px;
        position: absolute !important;
        top: 20%;
    }
    }

    @media only screen and (max-width: 411px) {
    .banner_contentWrapper {
      width: 315px !important;
    }
    }


.banner-content-title {
    font-size: 3rem!important;
    line-height: 1.05;
    margin-bottom: 1.43rem;
    font-family: Graphik;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.03em;
    color: #000;
} 
@media (max-width: 991px) {
    .banner-content-title {
        font-size: 3.7rem!important;
    }
}
@media (max-width: 768px) {
    .banner-content-title {
        font-size: 2.7rem!important;
    }
}

@media (max-width: 768px) {
    .banner-content-text {
        font-size: 1.4rem!important;
    }
}


.banner-content-text {
    font-family: Graphik;
    font-style: normal;
    font-weight: 400;
    width: 85%;
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
}
@media screen and (max-width:1200px){

    .banner-content-text {
        width: 100%;
    }
}

.section-button {
    margin-top: 2.1rem;
} 

/* Stats section */

.rbln-container {
    max-width: 1930px;
    margin: 0 auto;
}

.Highlights_container_3 {
    padding: 6.15rem 36px 3.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column-reverse;
    align-items: start;
}

@media (max-width: 991px) {
    .Highlights_container_3 {
        padding-left: 24px;
        padding-right: 24px;
        flex-direction: column-reverse;
    }
}
.Highlights_container_2 {
    padding: 6.15rem 3.2rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

@media (max-width: 991px) {
    .Highlights_container_2 {
        padding-left: 36px;
        padding-right: 24px;
        flex-direction: column-reverse;
    }
}

 
.banner-content-first{
    width: 28rem;
}
@media screen and (max-width: 767px){
    .banner-content-first{
        width: 250px;
    }
}
@media screen and (max-width: 1200px){
    .banner-content-first{
        width: 312px;
    }
}
.Highlights_stats_container .Highlights_first {
    margin-right: 6vw;
    padding-left:7%;
    padding-top: 5%;
    margin-left: 0;
    padding-bottom: 40px!important;
}

@media (max-width: 991px) {
    .Highlights_stats_container .Highlights_first {
        padding-top: 4rem;
        padding-left:0;
    }
}
@media (max-width: 767px) {
    .Highlights_stats_container .Highlights_first {
        padding-top: 4rem;
        
    }
}

.r-0{
    right: 0;
}

@media (min-width: 732px) and (max-width: 1279px) {
    .Highlights_stats_container {
        display: block!important;
        padding-top: 8.5rem!important;
    }
}

@media (max-width: 731px) {
    .Highlights_stats_container {
        display: block!important;
        padding-top: 5.5rem!important;
        padding-bottom: 2.5rem!important;
    }
}



.Highlights_heading {
    font-family: Graphik;
    font-style: normal;
    font-weight: 600;
    font-size: .83rem!important;
    line-height: 24px;
    letter-spacing: -.01em;
    margin-bottom: 1rem;
}
@media (max-width:991px){
    .Highlights_heading {
        font-family: Graphik;
        font-style: normal;
        font-weight: 600;
        font-size: 16px!important;
        line-height: 24px;
        letter-spacing: -.01em;
        margin-bottom: 1rem;
    }
}

.h1-t {
    font-family: Graphik;
    font-style: normal;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 1;
    letter-spacing: -.03em;
    margin-bottom: 1rem;
    max-width: 459px;
}
@media (max-width:1200px){
    .h1-t{
        font-size: 2.9rem;
        width: 312px;
    }
}
@media (max-width:767px){
    .h1-t{
        font-size: 2.4rem;
        width: 301px;
    }
}
.pt-2{
    font-size: .95rem;
    line-height: 1.4;
    font-family: Graphik;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -.03em;
    width: 465px;
    margin-bottom: 1.625rem;
}
@media(max-width:1200px){
    .pt-2{
        font-size: 22px;
        width: 573px;
    }
}
@media(max-width:767px){
    .pt-2{
        font-size: 18px!important;
        width: 100%;
    }
}

.p-t {
    font-size: .95rem;
    line-height: 1.4;
    font-family: Graphik;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -.03em;
    width: 465px;
    margin-bottom: 1.625rem;
}
@media (max-width: 767px) {
    .p-t {
        width: 100%;
        font-size: 1.2rem; 

    }
}
@media (max-width: 991px) {
    .p-t {
        width: 315px;
        font-size: 1.2rem; 

    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .p-t {
        font-size: 1rem; 

    }
}


.Highlights_second {
    width: 32vw;
}

@media (min-width: 732px) and (max-width: 1279px) {
    .Highlights_second {
        margin-top: 0!important;
    }
}

@media(min-width: 768px){
    .top-title{
        display:none;
    }
}

@media(max-width: 767px){
    .bottom-title{
        display:none;
    }
}

.top-text-2{
    color: #eb161e;
    font-family: Graphik;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.01em;
}
.top-title-2{
    font-family: Graphik;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -.03em;
}


@media (max-width: 731px) {
    .Highlights_second {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 0!important;
    }
}

.red-text{
    color: red;
}
.collections {
    padding: 1.2rem 0!important;
    margin: 0 auto;
    border-top: 1px solid #dcdcdc;
    text-align: center;
    transition: all .8s ease;
}

.colections-title{
    font-size: 1.65rem!important;
    line-height: 1.1!important;
    font-weight: 300;
    margin-bottom: .625rem!important;
}

.colections-text {
    font-size: 0.93rem!important;
    line-height: 1.1!important;
    font-weight: 300;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .colections-text {
        font-size: 13px!important;
    }
}

.Highlights_image_container {
    padding: 0!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hi-image-left {
    padding-right: 5vw!important;
    border-top-right-radius: 32.3255vw;
    border-bottom-right-radius: 32.3255vw;
    overflow: hidden;
}

.proportion-div {
    border-top-right-radius: 46.3255vw;
    border-bottom-right-radius: 46.3255vw;
    overflow: hidden;
}

.h-100 {
    height: 100%!important;
}

.w-100 {
    width: 100%!important;
}

.position-absolute {
    position: absolute!important;
}

.highlight_image {
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right;
    object-position: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.hi-image-right{

}
@media (max-width: 1200) {
    .hi-image-right {
        margin-left:0!important;
        width: 100%!important;
        padding: 56px 4rem 0;
    }
}

@media only screen and (max-width: 767px) {
    .hi-image-right {
        width: 100%!important;
        padding-left: 24px;
        padding-top: 40px;
        padding-right: 24px;
    }
}

@media only screen and (max-width: 991px) {
    .m-85{
        max-width: 100%;
    }
}


/* Promise section */

.section-wrapper {
    padding-top: 4.9rem;
    padding-bottom: 3rem;
    padding-left: 4.2rem;
    padding-right: 2rem;
}

@media (max-width: 991px) {
    .section-wrapper {
        padding-top: 2.9rem;
        padding-left: 36px;
        padding-right: 1rem;
    }
}
@media (max-width: 767px) {
    .section-wrapper {
        padding-top: 2.9rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 0!important;
    }
}

.promise-heading .main-heading {
    width: 15%;
}

@media (max-width: 732px) {
    .promise-heading .main-heading {
        width: 100%;
    }
}
.promise-heading .Highlights_heading {
    color: #eb161e;
}

.promise-nav {
    padding-top: 40px;
}
.promise-nav li {
   margin-left: 1rem;
   margin-right: 1rem;
}

@media (max-width: 767px) {
    .promise-nav li {
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

@media (max-width: 767px) {
    .promise-nav li {
        margin-left: .5rem;
        margin-right: .5rem;
    }
}



.promise-nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    width: 65%;
}

@media (max-width: 482px) {
    .promise-nav ul {
        width: 100%;
    }
}



@media (min-width: 483px) and (max-width: 991){
    .promise-nav ul {
        width: 65%;
    }
}

.promise-img {
    transition: ease .2s;
}

.nav-item {
    position: relative;
    margin-right: .5rem;
    margin-left: .5rem;
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

@media (min-width: 1281px) {
    .nav-item {
        font-size: .95rem;
    }
}

@media (min-width: 280px) and (max-width: 359px) {
    .nav-item {
        font-size: 10.2px;
    }
}

@media (min-width: 483px) and (max-width: 768px) {
    .nav-item {
        margin-right: 13px;
    }
}

@media (min-width: 360px) and (max-width: 482px) {
    .nav-item {
        font-size: 12px;
        margin-right: 6px;
    }
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0px;
    height: 6px;
    background-color: #EB161E;
    transition: .3s;
}

.nav-item:hover::after {
    left: 0;
    width: 100%;
}


.image-container {
    padding-top: 32px;
}

.image-container img {
    position: relative;
    left: -3%;
}

@media (max-width: 991px) {
    .image-container img {
        left: -1%;
    }
}



.ps-text {
    width: 29rem;
    font-family: Graphik;
    font-style: normal;
    font-weight: 300;
    font-size: .94rem;
    line-height: 1.4;
    letter-spacing: -0.03em
}

@media (min-width: 768px) and (max-width: 1201px) {
    .ps-text {
        width: 90%;
    }
}

@media (min-width: 280px) and (max-width: 767px) {
    .ps-text {
        text-justify:left;
        padding-right: 3rem;
        font-size: 1rem;
        width: 100vw;
    }
}

@media (min-width: 482px) and (max-width: 732px){
    .ps-text {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .ps-text {
        font-size: 1.3rem;
    }
}




/* CBMD Highlight image section 2 */


@media (max-width: 731px) {
    .Highlights_image_right {
        flex-direction: column-reverse;
    }
}


@media (max-width: 767px) {
    .slika-desno {
        margin-left: 10%;
        width: 90%!important;
        padding: 56px 4rem 0;
    }
}

@media (max-width: 731px) {
    .p-text2{
        padding-right: 40px;
    }
}

/* Video Background section */

.video-content-container {
    position: absolute;
    transform: translate(0,-50%);
    top: 50%;
    right: 6.5625%;
    max-width: 24.3rem;
    height: 480px
}

.video-section-content {
    margin-right: 10rem;
    background: #fff;
    padding: 40px 50px;
    width: 30rem;
    height:35rem;

}

@media (max-width: 767px) {
    .video-section-content {
        padding: 36px 20px;
        width: 80vw;
        height: 100%;
        margin-right: 0!important;
        right:0;
    }
}

.video-p {
    font-size: 0.9rem;
    font-family: Graphik;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 1.3;
}


@media (max-width: 767px) {
    .video-content-container {
        padding-top: 0!important;
        width: 100%!important;
        height: 80vh;
        margin-right:0!important;
        right:0;
        
    }
}




@media (max-width: 481px) {
    .video-p {
        font-size: 15px;
    }
}

/* Book section */

#section-cbmd-book-ourscience {
    background-color: #fff!important;
}

.book-section-container {
    padding: 2.15rem 3rem 3.2rem!important;
}

.book-title {
    font-family: Graphik;
    font-style: normal;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 2.4rem;
    letter-spacing: -.03em;
    margin-bottom: 15px!important;
}

.work-with-us{
width: 30%!important;
margin-right: 3%;
margin-left: 3%;
}
@media (max-width: 991px){

    .work-with-us{
    width: 80%!important;
    margin-right: 3%;
    margin-left: 3%;
    }
}

.cbmd_book_container{
    flex-direction: row;
}
@media (max-width: 991px) {
    .cbmd_book_container {
        flex-direction: column-reverse;
    }
}

@media (max-width: 732px) {
    .book-section-container {
        padding-top: 0!important;
    }
}
.book-p-text{
    font-size: .94rem;
}
@media (min-width: 483px) and (max-width: 731px) {
    .book-p-text {
        width: 80%;
        font-size:18px;
    }
}

@media (max-width: 731px) {
    .health-image {
        width: 100%!important;
    }
}




.multilink-container {
    max-width: unset!important;
}

.multilink-item {
    flex: 1;
    width: 100%;
    margin-right: 32px;
    margin-left: 32px;
}

@media (min-width: 732px) and (max-width: 1279px) {
    .multilink-content {
        height: 361px!important;
        max-width: unset!important;
    }
}


@media (min-width: 732px) and (max-width: 1279px) {
    .multilink-item {
        max-width: unset!important;
    }
}

@media (max-width: 731px) {
    .multilink-container {
        display: block;
    }
}

@media (max-width: 731px) {
    .multilink-item {
        margin-top: 30px;
        margin-left: 0;
    }
}