html.page-team {
  font-size: 20px !important;
}

@media only screen and (min-width: 732px) {
  html.page-team {
    font-size: 1.56vw !important;
  }
}

@media only screen and (min-width: 1240px) {
  html.page-team {
    font-size: 1.56vw !important;
  }
}

.bn-container {
  width: 100%;
  padding: 0 2.2rem;
}

@media only screen and (max-width: 731px) {
  .bn-container {
    padding: 0 1rem;
  }
}

.bn-subtitle {
  color: #eb161e;
  font-weight: 600;
  font-family: Graphik;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.bn-title {
  font-size: 2.2rem;
  font-family: Graphik;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 731px) {
  .bn-title {
    font-size: 1.6rem;
  }
}

.bn-lead {
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.4;
  letter-spacing: -0.03rem;
}

@media only screen and (max-width: 731px) {
  .bn-lead {
    font-size: 0.9rem;
  }
}

.team-hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team-hero__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-hero__container {
  width: 100%;
  padding: 0 2.2rem;
}

@media only screen and (max-width: 731px) {
  .team-hero__container {
    padding: 0 2rem 0 0;
  }
}

.team-hero__content {
  position: relative;
  z-index: 1;
  max-width: 25rem;
}

@media only screen and (max-width: 731px) {
  .team-hero__content {
    background-color: #fff;
    padding: 2rem 1.1rem;
  }
}

.team-hero__title {
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: -0.03rem;
  font-weight: 600;
  margin-bottom: 1rem;
  max-width: 10rem;
}

@media only screen and (max-width: 731px) {
  .team-hero__title {
    font-size: 1.8rem;
  }
}

.team-hero__text {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: -0.01rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 731px) {
  .team-hero__text {
    font-size: 0.8rem;
  }
}

.team-rounded__above-title {
  color: #eb161e;
  font-weight: 600;
  font-family: Graphik;
  font-size: 1.07rem;
}

.team__subtitle {
  color: #eb161e;
  font-weight: 600;
  font-family: Graphik;
  font-size: 1.07rem;
}

.team__title {
  font-size: 2.2rem;
  font-family: Graphik;
  font-weight: 600;
  line-height: 1;
}

.team__intro {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.2;
  max-width: 26rem;
}

.team__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.team__grid-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3% - 0.5rem);
          flex: 0 0 calc(33.3% - 0.5rem);
  margin-right: 0.75rem;
  padding: 1rem;
  padding-bottom: 6rem;
  background-color: #F7F7F7;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 732px) {
  .team__grid-item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 731px) {
  .team__grid-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 0.5rem);
            flex: 0 0 calc(50% - 0.5rem);
    margin-right: 1rem;
    padding-bottom: 5rem;
  }
  .team__grid-item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

.team__member {
  font-size: 1.1rem;
  line-height: 1.2;
  position: absolute;
  top: calc(100% - 6rem);
  left: 0;
  width: 100%;
  padding: 1rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  background-color: #F7F7F7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

@media only screen and (max-width: 731px) {
  .team__member {
    font-size: 0.8rem;
    top: calc(100% - 5rem);
  }
}

.team__member--open {
  top: 0;
}

.team__member-img {
  width: 100%;
  display: block;
}

.team__additional-info {
  margin-top: 1rem;
}

.team__toggle-info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  display: block;
}

.team__toggle-info:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.team__toggle-info--open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.team__toggle-info--open:hover {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.three-cols {
  border: 1px solid #000;
}

.three-cols__intro {
  max-width: 22rem;
}

.three-cols__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.three-cols__list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3% - 1rem);
          flex: 0 0 calc(33.3% - 1rem);
  margin-right: 1.5rem;
  padding-right: 3rem;
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.2;
  letter-spacing: -0.01rem;
}

.three-cols__list-item:nth-child(3n + 3) {
  margin-right: 0;
}

@media only screen and (max-width: 731px) {
  .three-cols__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 2rem;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .three-cols__list-item:nth-child(3n + 3) {
    margin-bottom: 0;
  }
}

.three-cols__img {
  border-radius: 50%;
}

@media only screen and (max-width: 731px) {
  .three-cols__img {
    max-width: 30%;
    display: block;
    margin-right: 1rem;
  }
}

.three-cols__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three-cols__title {
  font-family: Graphik;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 731px) {
  .three-cols__title {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.three-cols__number {
  font-family: Graphik;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  display: block;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 731px) {
  .three-cols__number {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 0;
  }
}

.three-cols__button {
  margin-top: 1rem;
}

.partners__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1239px) {
  .partners__intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.partners__intro-copy {
  max-width: 20rem;
}

@media only screen and (max-width: 1239px) {
  .partners__intro-copy {
    max-width: 30rem;
    margin-bottom: 2rem;
  }
}

.partners__map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1239px) {
  .partners__map-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media only screen and (max-width: 731px) {
  .partners__map-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.partners__map {
  margin-right: 2rem;
}

@media only screen and (max-width: 731px) {
  .partners__map {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 1rem;
  }
}

.partners__map svg {
  max-width: 100%;
}

.partners__legend-title {
  font-family: Graphik;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.25;
  letter-spacing: -0.01rem;
  margin-bottom: 1rem;
}

.partners__legend-list {
  list-style: none;
}

.partners__legend-list-item {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1rem;
}

.partners__legend-list-item:before {
  content: '';
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 0.25rem);
  left: 0;
}

.partners__legend-list-item:nth-child(1)::before {
  background-color: #EB2C25;
}

.partners__legend-list-item:nth-child(2)::before {
  background-color: #333;
}

.partners__legend-list-item:nth-child(3)::before {
  background-color: #E3E3E3;
}

.partners__list {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0.8rem;
  padding-right: 2rem;
  display: none;
}

.partners__list-item:nth-child(1), .partners__list-item:nth-child(2), .partners__list-item:nth-child(3) {
  display: block;
}

@media only screen and (min-width: 732px) {
  .partners__list-item:nth-child(4), .partners__list-item:nth-child(5), .partners__list-item:nth-child(6) {
    display: block;
  }
}

@media only screen and (min-width: 1240px) {
  .partners__list-item:nth-child(7), .partners__list-item:nth-child(8), .partners__list-item:nth-child(9), .partners__list-item:nth-child(10), .partners__list-item:nth-child(11), .partners__list-item:nth-child(12), .partners__list-item:nth-child(13), .partners__list-item:nth-child(14), .partners__list-item:nth-child(15), .partners__list-item:nth-child(16), .partners__list-item:nth-child(17), .partners__list-item:nth-child(18), .partners__list-item:nth-child(19), .partners__list-item:nth-child(20) {
    display: block;
  }
}

.partners__list-item.show {
  display: block;
}

@media only screen and (max-width: 1239px) {
  .partners__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 0.5rem);
            flex: 0 0 calc(50% - 0.5rem);
    margin-right: 1rem;
    padding-right: 0;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 0;
    padding: 1rem 0;
  }
  .partners__list-item:nth-child(2n + 2) {
    margin-right: 0;
  }
  .partners__list-item:nth-child(1), .partners__list-item:nth-child(2) {
    border-top: 1px solid #E3E3E3;
  }
}

@media only screen and (max-width: 731px) {
  .partners__list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .partners__list-item:nth-child(2) {
    border-top: none;
  }
}

.partners__partner-img {
  width: 3.2rem;
  height: 3.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #E3E3E3;
  display: block;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.partners__partner-content {
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6rem;
  line-height: 1.33;
}

.partners__partner-name {
  margin-bottom: 0;
  font-family: Graphik;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.5;
  letter-spacing: -0.01rem;
}

.partners__button-wrapper {
  text-align: center;
  margin-top: 2rem;
}

.partners__load-more {
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.5;
  border-bottom: 1px solid #E3E3E3;
}

.reviews {
  border: 1px solid #000;
}

.reviews__intro {
  max-width: 26rem;
}

.reviews__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

@media only screen and (max-width: 731px) {
  .reviews__list {
    display: block;
  }
  .reviews__list > * + * {
    margin-top: 1.5rem;
  }
}

.reviews__list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding-right: 2.5rem;
  padding-top: 2rem;
  position: relative;
}

.reviews__list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url(./quotes.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 731px) {
  .reviews__list-item {
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-right: 0;
    margin-top: 2rem;
    border-bottom: 1px solid #f3f3f3;
  }
}

@media only screen and (max-width: 731px) {
  .reviews__list-content {
    padding-left: 2rem;
  }
}

.reviews__user {
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 731px) {
  .reviews__user {
    margin-top: 1rem;
  }
}

.reviews__user-photo {
  width: 1.5rem;
  height: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: block;
}

.reviews__user-info {
  font-family: Graphik;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7rem;
  line-height: 1.14;
  color: rgba(0, 0, 0, 0.7);
}

.reviews__user-name {
  font-weight: 600;
  color: black;
}

.path__wrapper {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 2.5rem;
}

@media only screen and (max-width: 1239px) {
  .path__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.path__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 1.5rem;
  position: relative;
}

@media only screen and (max-width: 1239px) {
  .path__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-right: 3rem;
  }
}

.path__item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border: 0.1rem solid #000;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border-top: none;
}

@media only screen and (max-width: 1239px) {
  .path__item::before {
    border: 0.1rem solid #000;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 0;
    border-right: none;
    width: 50%;
    height: 100%;
  }
}

.path__item:nth-child(even) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1239px) {
  .path__item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 1.5rem;
    padding-left: 3rem;
  }
}

.path__item:nth-child(even) .path__image {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 1239px) {
  .path__item:nth-child(even) .path__image {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 1.5rem;
    margin-left: 0;
  }
}

.path__item:nth-child(odd)::before {
  bottom: auto;
  top: 0;
  left: -0.1rem;
  right: -0.1rem;
  width: calc(100% + 0.2rem);
  height: 50%;
  border-top: 0.1rem solid #000;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom: none;
}

@media only screen and (max-width: 1239px) {
  .path__item:nth-child(odd)::before {
    border-right: 0.1rem solid #000;
    border-bottom: 0.1rem solid #000;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    width: 50%;
    height: calc(100% + 0.2rem);
    left: auto;
    right: 0;
    top: -.1rem;
  }
}

.path__content {
  font-family: Graphik;
  font-style: normal;
  font-size: 0.6rem;
  line-height: 1.25;
  letter-spacing: -0.03rem;
  color: #000000;
}

@media only screen and (max-width: 1239px) {
  .path__content {
    max-width: 35%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (max-width: 731px) {
  .path__content {
    max-width: 100%;
  }
}

.path__title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  line-height: 1;
}

.path__number {
  font-family: Graphik;
  font-style: normal;
  font-weight: 500;
  font-size: 1.35rem;
  line-height: 0.89;
  letter-spacing: -0.01rem;
  color: #EB161E;
  margin-bottom: 0.25rem;
  display: block;
}

.path__image {
  text-align: center;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1239px) {
  .path__image {
    margin-left: 1.5rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 731px) {
  .path__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

.path__starting-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.1rem;
  height: 50%;
  background-color: #000;
}

@media only screen and (max-width: 1239px) {
  .path__starting-line {
    left: auto;
    right: 0;
    height: 0.1rem;
    width: 50%;
  }
}

.path__starting-line::before {
  content: '';
  position: absolute;
  top: 0;
  right: -0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  border: 0.1rem solid black;
  background-color: #fff;
  border-radius: 50%;
}

@media only screen and (max-width: 1239px) {
  .path__starting-line::before {
    top: -0.2rem;
  }
}

.path__ending-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.1rem;
  height: 50%;
  background-color: #000;
}

@media only screen and (max-width: 1239px) {
  .path__ending-line {
    top: auto;
    bottom: 0;
    height: 0.1rem;
    width: 50%;
  }
}

.path__ending-line::before, .path__ending-line:after {
  content: '';
  position: absolute;
  top: -0.2rem;
  width: 0.1rem;
  height: 1rem;
  background-color: black;
  border-radius: 0.2rem;
  -webkit-transform-origin: left;
          transform-origin: left;
  left: 0;
}

.path__ending-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -0.3rem;
}

@media only screen and (max-width: 1239px) {
  .path__ending-line::before {
    top: -0.15rem;
    left: auto;
    right: 0.3rem;
  }
}

.path__ending-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: .35rem;
  top: -0.1rem;
}

@media only screen and (max-width: 1239px) {
  .path__ending-line::after {
    top: auto;
    left: auto;
    right: 0.3rem;
    bottom: -0.1rem;
  }
}

.rounded-left__container {
  width: 100%;
  padding: 0 2.2rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 731px) {
  .rounded-left__container {
    padding: 0 1rem 0 0;
    display: block;
  }
}

.rounded-left__content {
  margin-left: 4rem;
  font-size: 1.1rem;
  line-height: 1.45;
}

@media only screen and (max-width: 731px) {
  .rounded-left__content {
    margin-left: 0;
    margin-top: 1.5rem;
    padding: 0 1rem;
  }
}
/*# sourceMappingURL=practioners.css.map */