html.page-team {
  font-size: 20px !important;
}

@media only screen and (min-width: 732px) {
  html.page-team {
    font-size: 1.56vw !important;
  }
}

@media only screen and (min-width: 1240px) {
  html.page-team {
    font-size: 1.56vw !important;
  }
}

.team-hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team-hero__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-hero__container {
  width: 100%;
  padding: 0 2.2rem;
}

@media only screen and (max-width: 731px) {
  .team-hero__container {
    padding: 0 2rem 0 0;
  }
}

.team-hero__content {
  position: relative;
  z-index: 1;
  max-width: 25rem;
}

@media only screen and (max-width: 731px) {
  .team-hero__content {
    background-color: #fff;
    padding: 2rem 1.1rem;
  }
}

.team-hero__title {
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: -0.03rem;
  font-weight: 600;
  margin-bottom: 1rem;
  max-width: 10rem;
}

@media only screen and (max-width: 731px) {
  .team-hero__title {
    font-size: 1.8rem;
  }
}

.team-hero__text {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: -0.01rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 731px) {
  .team-hero__text {
    font-size: 0.8rem;
  }
}

.team-rounded__above-title {
  color: #eb161e;
  font-weight: 600;
  font-family: Graphik;
  font-size: 1.07rem;
}

.team__subtitle {
  color: #eb161e;
  font-weight: 600;
  font-family: Graphik;
  font-size: 1.07rem;
}

.team__title {
  font-size: 2.2rem;
  font-family: Graphik;
  font-weight: 600;
  line-height: 1;
}

.team__intro {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.2;
  max-width: 26rem;
}

.team__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.team__grid-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3% - 0.5rem);
          flex: 0 0 calc(33.3% - 0.5rem);
  margin-right: 0.75rem;
  padding: 1rem;
  padding-bottom: 6rem;
  background-color: #F7F7F7;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 732px) {
  .team__grid-item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 731px) {
  .team__grid-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 0.5rem);
            flex: 0 0 calc(50% - 0.5rem);
    margin-right: 1rem;
    padding-bottom: 5rem;
  }
  .team__grid-item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

.team__member {
  font-size: 1.1rem;
  line-height: 1.2;
  position: absolute;
  top: calc(100% - 6rem);
  left: 0;
  width: 100%;
  padding: 1rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  background-color: #F7F7F7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

@media only screen and (max-width: 731px) {
  .team__member {
    font-size: 0.8rem;
    top: calc(100% - 5rem);
  }
}

.team__member--open {
  top: 0;
}

.team__member-img {
  width: 100%;
  display: block;
}

.team__additional-info {
  margin-top: 1rem;
}

.team__toggle-info {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  display: block;
}

.team__toggle-info:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.team__toggle-info--open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.team__toggle-info--open:hover {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
/*# sourceMappingURL=practioners.css.map */