<div class="new-home new-pc">
{% section 'bn-team-hero' %}
{% section 'bn-team-rounded' %}
{% section 'bn-team' %}
{% section 'bn-three-cols' %}
{% section 'bn-partners' %}
{% comment %} {% section 'bn-reviews' %} {% endcomment %}
{% section 'bn-path' %}
{% section 'bn-team-rounded-left' %}
</div>
